@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;600;700;900&family=Playfair+Display:wght@600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  background: #f3f6f8;
  color: #1b1f23;
}

* {
  box-sizing: border-box;
}
